@media (max-width: 1210px) {
  #aside-Search {
    width: 150px;
  }
}

@media (max-width: 800px) and (min-width: 451px) {
  #aside-Search-Btn,
  #aside-Search {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

@media (max-width: 450px) {
  #aside-Search {
    width: 150px;
  }
  #delete-Aside {
    display: none;
  }
  #section {
    width: 100%;
  }
  #Search {
    width: 200px;
    margin-right: 5px;
  }
  #Reg {
    width: 100%;
  }
}
