* {
  font-family: "Georgia", sans-serif;

  outline: none !important;
  /* background-color: #171717; */
}

header {
  height: 20%;
}

.mainHR {
  width: 60%;
  background-color: rgb(255, 74, 8);
}

.secondaryHR {
  width: 100%;
  background-color: rgb(255, 74, 8);
}

.textlogo {
  color: rgb(255, 74, 8);
  font-weight: 700;
  font-family: "Monotype Corsiva" Cursive;
  font-stretch: condensed;
  font-size: x-large;
  font-style: italic;
  font-synthesis: inherit;
}

section {
  width: 70%;
  height: 60%;
}

footer {
  width: 100%;
  height: 10%;
}

aside {
  width: 30%;
  height: 100%;
  z-index: 1;
}

.navbar-brand #img-logo {
  width: 35%;
}

#Search {
  width: 300px;
}

.dropdown-menu {
  z-index: 100;
}

.aside-section {
  z-index: 1;
  position: relative;
}

.chat {
  z-index: 1;
  position: sticky;
  height: 400px;
  /*background-color: aqua; */
  padding: 7%;
}
.message-container {
  overflow: auto;
  height: 300px;
}

.message-element {
  color: #ff6666;
  font-weight: 700;
}

#Reg {
  width: 400%;
}

.numbers {
  font-size: 1em;
}

.card {
  display: inline-block;
}

/* Rating */

.rating {
  margin: 1em 1em 1em 1em;
  padding: 0;
  border: none;
}

/* Group */

.rating-group {
  position: relative;
  width: 5em;
  height: 1em;
  background-image: url(../public/images/off.svg);
  background-size: 1em auto;
  background-repeat: repeat-x;
}

.rating-group:focus-within {
  outline: 0.2em solid #4a90e2;
  outline-offset: 0.2em;
}

/* Star */

.rating-star {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  height: 1em;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-size: 1em auto;
  background-repeat: repeat-x;
}

.rating-star:focus {
  outline: none;
}

.rating-star:hover,
.rating-star:checked {
  background-image: url(../public/images/on.svg);
}

.rating-star:hover ~ .rating-star {
  background-image: url(../public/images/off.svg);
}

/* Options */

.rating-star:nth-of-type(1) {
  z-index: 5;
  width: 1em;
}

.rating-star:nth-of-type(2) {
  z-index: 4;
  width: 2em;
}

.rating-star:nth-of-type(3) {
  z-index: 3;
  width: 3em;
}

.rating-star:nth-of-type(4) {
  z-index: 2;
  width: 4em;
}

.rating-star:nth-of-type(5) {
  z-index: 1;
  width: 5em;
}

.card {
  width: 32%;
}
.card-column div {
  margin: 0.2em;
  transition: ease-out 3s;
}

.card-img-top {
  width: 100%;
}

.card-animation {
  transition: ease-out 3s;
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
