* {
  font-family: "Georgia", sans-serif;
  outline: none !important;
}

header {
  height: 20%;
}

.navbar {
  height: 10%;
}

section {
  width: 70%;
  height: 60%;
}

footer {
  width: 100%;
  height: 10%;
}

aside {
  width: 30%;
  height: 100%;
}

.navbar-brand #imgLogo {
  width: 35%;
}

#NewItems {
  color: red;
}

#Search {
  width: 300px;
}

.dropdown-menu {
  z-index: 1000000000000000;
}

#Reg {
  width: 400%;
}

.numbers {
  font-size: 1em;
}

.card {
  display: inline-block;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  padding: 0.9em;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  color: gold;
}
